<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Calculator</title>
    <link rel="icon" href="calculator-minimalistic-svgrepo-com.svg" type="image/svg+xml">
    
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>